html {
  display: table;
  margin: auto;
  margin-top: 59px;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.title {
  text-align: center;
  font-family: sans-serif;
  width: 680px;
  height: 220px;
  margin: 10px;
  box-sizing: border-box;
}

.text {
  transform: translateY(50%);
}
.main {
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.square {
  background-color: red;
  min-width: 220px;
  min-height: 220px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}

.rectangle-vertical {
  background-color: green;
  width: 220px;
  height: 460px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}

.rectangle-horizontal {
  background-color: blue;
  width: 460px;
  height: 220px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}

@media only screen and (max-width: 718px) {
  .expand {
    width: 460px;
    background-color: blue;
  }
}

@media only screen and (max-width: 960px) {
  .title {
    width: 460px;
  }
}

@media only screen and (max-width: 1198px) {
  html {
    margin-top: 0px;
  }
  .rectangle-vertical {
    width: 460px;
  }
}
