body {
  box-sizing: border-box;
}
.parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.child_1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.child_2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.square {
  background-color: red;
  width: 230px;
  height: 230px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}
.big_square {
  background-color: orange;
  width: 480px;
  height: 480px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}

.rectangle_horizontal {
  background-color: blue;
  width: 480px;
  height: 230px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}
.rectangle_vertical {
  background-color: green;
  width: 230px;
  height: 480px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4%;
}
.rectangle_vertical_parent {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  box-sizing: border-box;
}
